@import "./css/tokens/colors.css";
@import "./css/tokens/typography.css";
@import "./css/tokens/layout.css";

:root {
  color: var(--color-text-primary);
  background: var(--color-gray-100);
  color-scheme: light;
  font: var(--font-weight-normal) var(--font-size-md) / var(--line-height-normal) var(--font-family-primary);
  font-synthesis: none;
  letter-spacing: var(--letter-spacing-normal);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button,
input {
  font: inherit;
}

#root {
  min-height: 100vh;
}
